:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  appearance: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .sentence {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    margin-block: 1rem;

    .word {
      padding-block: 0.25rem;
      border-radius: 0.25rem;
      position: relative;

      &:not(.static) {
        padding-inline: 0.5rem;
      }

      &.locked {
        background-color: #f0f0f0;
      }

      span {
        letter-spacing: -0.05em;
      }

      button {
        border: 1px solid #f0f0f0;
        background: none;
        cursor: pointer;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
      }

      .predictions {
        position: absolute;
        bottom: 0;
        left: 50%;
        translate: -50% 100%;
      }

      .prediction {
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% -100%;

        &.correct {
          color: #00c853;
        }

        &.incorrect {
          color: #ff1744;
        }
      }
    }
  }

  .keyboard {
    display: flex;
    gap: 0.5rem;

    .key {
      width: 2rem;
      height: 2rem;
      border-radius: 0.25rem;
      border: 1px solid #f0f0f0;

      &.pressed {
        background-color: #f0f0f0;
      }
    }
  }
}
